<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>IES Doctor Balmis</title>
  </head>
  <body>
   <div th:fragment="cabecera">
	<table width="100%" border="0" style="background: LightGray;">
		<tr style="border-bottom: 10px solid black;">
			<td width="20%"><img src="/Logo_IES.png" width="100%" /></td>
			<td width="80%" align="center"><p><b><font size="7">Api Rest Servidor</font></b></p></td>
		</tr>
	</table>  
   </div>
  </body>
</html>